.container {
    z-index: 3;
    height: 500px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.message {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.container button {
    height: 2rem;
    width: 80%;
    border-radius: 0.2rem;
    border: none;
    background-color: var(--tertiary-color);
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .container {
        height: 300px;
        width: 300px;
        border-radius: 0;
    }
}