.container {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
    background-color: var(--card-bg);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.form_group {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 1rem;
}

.form_group label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form_group input {
    height: 2.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--radius-sm);
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
    font-weight: 400;
    transition: box-shadow var(--transition);
}

.form_group input:focus {
    outline: none;
    border: 1px solid var(--tertiary-color);
    box-shadow: 0 0 0 3px var(--tertiary-lightest);
}

.form_group button, .switch_button {
    height: 2.5rem;
    width: 100%;
    border-radius: var(--radius-pill);
    border: none;
    background-color: var(--tertiary-color);
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color var(--transition);
}

.form_group button:not(.switch_button):hover {
    background-color: var(--tertiary-darker);
}

.form_group button:active {
    transform: translateY(1px);
}

.switch_button {
    width: 80%;
    background-color: white;
    border: var(--tertiary-color) 1px solid;
    color: var(--tertiary-color);
}

.switch_button:hover {
    background-color: var(--tertiary-lightest-plus);
}

@media screen and (max-width: 500px) {
    .container {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}