.container {
    height: var(--container-height);
}

.search {
    background-color: white;
    width: calc(100% - 2rem);
    margin: 1rem 1rem 0 1rem;
    padding: 10px;
    padding-left: 80px;
    font-size: 1.2rem;
    height: 80px;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: var(--gray-darker);
}

.input_container {
    position: relative;
    margin-bottom: 1rem;
}

.searchIcon, .backIcon {
    position: absolute;
    top: calc(1rem + 40px - 0.6rem);
    left: 50px;
    color: var(--gray-darker);
    font-size: 1.2rem;
    font-weight: 400;
    z-index: 1;
}

.deleteIcon {
    position: absolute;
    top: calc(1rem + 40px - 0.6rem);
    right: 50px;
    color: var(--gray-darker);
    font-size: 1.2rem;
    font-weight: 400;
    z-index: 1;
}

.search::placeholder {
    color: var(--gray);
    font-size: 1.2rem;
    font-weight: 400;
}

.search:focus {
    outline: none;
}

.expanded {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--gray);
}

/* options */

.options {
    margin: 1rem;
    width: calc(100% - 2rem);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 150px;
}

.options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options ul li {
    padding: 10px;
    padding-left: 80px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--gray-darker);
    cursor: pointer;
}

/* sort buttons */

.sort_buttons {
    display: flex;
    flex-direction: row;
}

.filter_dropdown, .sort_select {
    position: relative;
    height: 40px;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 1rem;
    z-index: 3;
}

.filter_dropdown, .sort_select, .filter_dropdown .dropbtn {
    background-color: white;
    border: none;
    padding: 10px;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-dark);
}

.filter_dropdown .dropbtn, .sort_select select {
    cursor: pointer;
}

.sort_select {
    width: 150px;
}

.sort_select select {
    appearance: none;
    background-color: white;
}

.sort_select select, .sort_select select:focus {
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--gray-dark);
    width: 100%;
}

/* filter dropdown */

.filter_dropdown {
    width: 200px;
}

.filter_icon {
    color: var(--gray-darker)
}

.dropbtn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.dropdown_content {
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 400;
    color: var(--gray-dark);
    z-index: 1;
}

.dropdown_row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
}

/* toggler */

.toggler_wrapper {
	display: block;
	width: 30px;
	height: 14px;
	cursor: pointer;
	position: relative;
    margin-left: 10px;
}

.toggler_wrapper input[type="checkbox"] {
	display: none;
}

.toggler_wrapper input[type="checkbox"]:checked+.toggler_slider {
	background-color: var(--secondary-color);
}

.toggler_wrapper .toggler_slider {
	background-color: #ccc;
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 300ms ease;
}

.toggler_wrapper .toggler_knob {
	position: absolute;
	transition: all 300ms ease;
}

.toggler_wrapper input[type="checkbox"]:checked+.toggler_slider .toggler_knob {
	left: calc(100% - 14px - 3px);
}

.toggler_wrapper .toggler_knob {
	width: calc(14px + 4px);
	height: calc(14px + 4px);
	border-radius: 50%;
	left: -3px;
	top: -3px;
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
}

@media screen and (max-width: 500px) {
    .sort_select {
        width: calc(40% - 1rem);
        margin-right: 1rem;
    }
    
    .filter_dropdown {
        width: 60%;
    }
}
