.container {
    height: var(--container-height);
}

.search {
    background-color: white;
    width: calc(100% - 2rem);
    margin: 1rem 1rem 0 1rem;
    padding: 10px;
    padding-left: 80px;
    font-size: 1.2rem;
    height: 80px;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input_container {
    position: relative;
    margin-bottom: 1rem;
}

.searchIcon, .backIcon {
    position: absolute;
    top: calc(1rem + 40px - 0.6rem);
    left: 50px;
    color: var(--gray-darker);
    font-size: 1.2rem;
    font-weight: 400;
    z-index: 1;
}

.deleteIcon {
    position: absolute;
    top: calc(1rem + 40px - 0.6rem);
    right: 50px;
    color: var(--gray-darker);
    font-size: 1.2rem;
    font-weight: 400;
    z-index: 10;
}

.search::placeholder {
    color: var(--gray);
    font-size: 1.2rem;
    font-weight: 400;
}

.search:focus {
    outline: none;
}

.expanded {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--gray);
}

.options {
    margin: 1rem;
    width: calc(100% - 2rem);
    height: 150px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options ul li {
    padding: 10px;
    padding-left: 80px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--gray-darker);
    cursor: pointer;
}