.container {
    height: var(--container-height);
    overflow: auto;
}

.card_container {
    height: var(--container-height);
    overflow: hidden;
}

.form_container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0;
    padding: 0;
}

.form .short_inputs_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.form .short_inputs_group .select_group {
    width: 60%;
}

.form .short_inputs_group .number_group {
    width: 30%;
}

.form_group, .select_group, .number_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.form_group label, .select_group label, .number_group label{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form_group input, .form_group button, .select_group select, .number_group input {
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
}

.form_group input, .select_group select, .number_group input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.form_group input:focus, .form_group textarea:focus, .select_group select:focus, .number_group input:focus{
    outline: none;
    border: 1px solid var(--secondary-color);
}

.select_group select, .number_group input {
    margin-bottom: 1rem;
}

.form_group button {
    width: 100%;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
}

.add_button {
    background-color: white!important;
    border: var(--secondary-color) 1px solid!important;
    color: var(--secondary-color)!important;
}

.form_group textarea {
    height: 10rem;
    padding: 1rem;
    text-align: left;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: inherit;
}

.form_group span {
    margin-left: 0.5rem;
    font-weight: 400;
    font-size: 0.8rem;
}

@media(max-width: 500px) {

    .form {
        width: 80%;
    }
}