.footer {
   background-color: var(--primary-color);
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 4px  2px 0 rgba(0, 0, 0, 0.2);
}

.button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    left: 50%;
    bottom: 25px;
    font-size: 3rem;
    transform: translateX(-50%);
}