.container {
    padding: 0 1rem;
    width: 100vw;

    flex-shrink: 0;
    scroll-snap-align: start;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 1rem 0;
}

@media(max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}