:root {
  --primary-color: #7E57C2;
  --primary-lighter-color: #B39DDB;
  --primary-light-color: #EDE7F6;
  --secondary-color: #66BB6A;
  --tertiary-color: #FFA726;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
  
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: var(--primary-lighter-color);
}