:root {
  --primary-color: #7E57C2;
  --secondary-color: #66BB6A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
  
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
}