.slider {
    text-align: center;
    overflow: hidden;
    height: 100vh;
}

.slides {
    /* width: 1000px; */
    height: 100%;

    display: flex;
    flex: 1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;

    scroll-behavior: smooth;
}