.card {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
    position: relative;
}

.card h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    grid-gap: 1rem;
}

.img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 0.2rem;
}

.nutrients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 0.5rem;
}

.column h5 {
    font-size: 0.8rem;
    font-weight: 600;
}

.column p {
    font-size: 0.8rem;
    font-weight: 400;
}