.card {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    background-color: white;
    position: relative;
    overflow: auto;
    line-height: 1.6;
}

.card h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    grid-gap: 1rem;
}

.img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 0.2rem;
}

.nutrients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 0.5rem;
}

.column h5 {
    font-size: 0.8rem;
    font-weight: 600;
}

.column p {
    font-size: 0.8rem;
    font-weight: 400;
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-template-areas: 
        'header dailyValue composition'
        'bigNutrients vitamins vitamins'
        'minerals minerals fats';
}

@media (max-width: 1100px) {
    .card_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'header dailyValue' 
        'composition bigNutrients'
        'vitamins vitamins'
        'minerals minerals' 
        'fats fats';
    }
}

@media (max-width: 500px) {
    .card_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        'header' 
        'dailyValue' 
        'composition'
        'bigNutrients'
        'vitamins'
        'minerals' 
        'fats';
    }
}