.spinner {
    position: absolute;
    top: 4px;
    right: 15px;
    display: inline-block;
    width: 32px;
    height: 32px;
    z-index: 3;
}
  
.spinner:after {
    content: ' ';
    display: block;
    width: 23px;
    height: 23px;
    margin: 1px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    border-color: var(--primary-color) transparent var(--primary-color) transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}